:root {
  --background-dark: #1a1817;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background-dark)
}

#root {
  max-width: 800px;

  text-align: center;
  
  margin: 5% auto;
  padding: 20px;

  border: 3px solid white;
  background-color: #f8e6c4;
  box-shadow: 0 0 30px 0px #FFFFFF;
  border-radius: 10px;
}

h1 {
  font-family: sans-serif;
  margin: 10px 0;
}

.svg-div {
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  
}

.bar:hover {
  fill: #f17979;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 2px;
  font: 12px;
  background: rgb(142, 184, 240);
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  pointer-events: none;
}

#y-axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#x-axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}