:root {
  --background-dark: #1a1817;
  --pink-purple-grad: linear-gradient(245deg, #585DFE 0%, #FB3796 100%);
  --blue-grad: linear-gradient(245deg, #2B75EC 0%, #2EC4DE 100%);
  --green-grad: linear-gradient(245deg, #05795A 0%, #10B680 100%);
  --pink-orange-grad: linear-gradient(245deg, #ED4880 0%, #F38B17 100%);
  --purple-grad: linear-gradient(245deg, #18244A 0%, #3B69E1 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background-dark)
}

#root {
  width: 80%;
  min-height: 650px;

  text-align: center;
  
  margin: 0 auto;

  background-color: white;
}

.svg-div {
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  border: 1px solid red;
}